/* Frontend notice styles */
.vesess_auth-auth-notice {
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 3px;
}

.vesess_auth-notice-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.vesess_auth-notice-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
}

.vesess_auth-notice-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
